.Normal_text_a {font-family:Arial;font-weight:normal;font-style:normal;font-size:13.33px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Normal_text {font-size:16px;}
.Heading_3 {font-family:Arial;font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Normal {font-family:'Calibri Regular';font-weight:normal;font-style:normal;font-size:14.67px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
