@import url(//fonts.googleapis.com/css?family=Arimo:regular,700&subset=latin);
@font-face {font-family: 'Agency FB Regular';src: url("XaraWDEmbeddedHTMLfont1.eot?") format("embedded-opentype"), local('Agency FB Regular'), local("AgencyFB");}
@font-face {font-family: 'Tahoma Regular';src: url("XaraWDEmbeddedHTMLfont2.eot?") format("embedded-opentype"), local('Tahoma Regular'), local("Tahoma");}
@font-face {font-family: 'Tahoma Bold';src: url("XaraWDEmbeddedHTMLfont3.eot?") format("embedded-opentype"), local('Tahoma Bold'), local("Tahoma");}
@font-face {font-family: 'Trebuchet MS Regular';src: url("XaraWDEmbeddedHTMLfont4.eot?") format("embedded-opentype"), local('Trebuchet MS Regular'), local("TrebuchetMS");}
